body{
    margin:0;
    /* display: flex; */
}
#container{
    margin: 5vh auto;
    height: 90vh;
    width: 80vw;
    border: 1px black solid;
    text-align: center;
}
#container div{
    border: 1px black solid;
    height:100%;
}
#container .play{
    display: block;
}
#container .start, .setup, .result{
    display: none;
}
#container .start button{
    height:30px;
    width: 50%;
}
#container .start button::after{
    content:"Lights out..."
}
#container .start button:hover::after{
    content: "...and away we go!";
}